<div class="container" cdkDropListGroup>
  <div *ngFor="let columnFilter of columnFilters" class="pure-g {{columnFilter.campus}}">
        <div *ngIf="columnFilter.days == 'TR'" class="pure-u-1-8" style="width:100%; text-align: center;"><h1>{{columnFilter.campus}}</h1></div>
        <div *ngIf="columnFilter.days != 'TR'" class="pure-u-1-8" style="width:100%; text-align: center;"><h1>&nbsp;</h1></div>
        <div *ngFor="let slot of slots | filter: { campus: columnFilter.campus, days: columnFilter.days }" cdkDropList [cdkDropListData]="slot.sections" class="drop-list pure-u-1-8 {{slot.days}}" (cdkDropListDropped)="drop($event)">
          <h3>Slot {{slot.code}} {{slot.days}} {{slot.starttime}} to {{slot.endtime}}</h3>
          <div *ngFor="let section of slot.sections" cdkDrag class="draggable-item">
            {{ section.campus }} {{ section.num }} - {{ section.course.title }} ({{ section.faculty.name }})  
          </div>
        </div>
  </div>
  <div class="pure-g">
    <div cdkDropList [cdkDropListData]="needsList" class="drop-list pure-u-1-2 sectionneeds" (cdkDropListDropped)="drop($event)">
      <h3>Section Needs</h3>
      <div *ngFor="let section of needsList" cdkDrag class="draggable-item">
        {{ section.campus }} {{ section.num }} - {{ section.course.title }} ({{ section.faculty.name }})  
      </div>
    </div>

    <div class="pure-u-1-2">
      <form class="pure-form  pure-form-aligned">
        <fieldset>
        <div class="pure-control-group">
          <label for="courses">Course:</label>
          <select id="courses" [(ngModel)]="selectedCourse" (change)="onCourseSelect()" [ngModelOptions]="{standalone: true}">
              <option [ngValue]="null" disabled>Select a Course</option> 
              <option *ngFor="let course of courses" [ngValue]="course">{{ course.title }}</option>
          </select>

        
        

        </div>
        <div *ngIf="selectedCourse"  class="pure-control-group">
          <label for="numSections">How many?</label>
          <input
            id="numSections"
            type="number"
            [(ngModel)]="numSections"
            [min]="1"
            [max]="10"
            placeholder="1"
            name="numSections"
          />
        </div>
        <div class="pure-controls">
          <button (click)="onAddSections()">Add Sections</button>
        </div>
    
        <div *ngIf="sections.length > 0" class="pure-control-group">
          <h3>Sections Details</h3>
        
          <div *ngFor="let section of sections; let i = index" class="section-container">
            
            <div class="field-group">
              <label for="campus{{ i }}">Campus</label>
              <select id="campus{{ i }}" [(ngModel)]="section.campus" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let campus of campuses" [value]="campus">{{ campus }}</option>
              </select>
            </div>
        
            <div class="field-group">
              <label for="num{{ i }}">Number</label>
              <select id="num{{ i }}" [(ngModel)]="section.num" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let num of nums" [value]="num">{{ num }}</option>
              </select>
            </div>
        
            <div class="field-group">
              <label for="faculty{{ i }}">Faculty</label>
              <select id="faculty{{ i }}" [(ngModel)]="section.faculty" [ngModelOptions]="{standalone: true}">
                <option value="" disabled selected>Select a Faculty</option> <!-- Empty Default Option -->
                <option *ngFor="let member of faculty" [ngValue]="member">{{ member.name }}</option>
              </select>
            </div>
        
            <hr> <!-- Separator between sections -->
        
          </div>
        </div>
        
        <div class="pure-controls" *ngIf="sections.length > 0">
          <button (click)="onAddToNeedsList()">Add</button>
        </div>
        </fieldset>
      </form>
      
    </div>
    <div >
      <app-faculty-load [faculty]="faculty"></app-faculty-load>
    </div>
    
  </div>
</div>